* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  /* padding-bottom: 5rem; */
  min-height: 100%;
  height: 100vh;
  width: 100%;
  /* background-color: #cecece; */
  background: #c1c1c1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cecece, #c1c1c1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cecece, #c1c1c1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #161616;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    border-radius: 1px;
}





/* The whole Side Bar */
.side-bar {
  position: fixed;
  width: 200px;
  left: -180px;
  height: 100vh;
  /* background-color: #3a3a3a; */
  background: #161616;
  background: -webkit-linear-gradient(to bottom, #3a3a3a, #161616);
  background: linear-gradient(to bottom, #3a3a3a, #161616);
  transition-property: width, left;
  transition-duration: .7s;
  z-index: 9999;
  box-shadow: 0 0 15px black;
}

.side-bar *::selection {
  color: none;
  background: none;
}

/* Make the Side Bar fully visible */
.side-bar.active {
  left: 0px;
  transition-property: width;
  transition-duration: .7s;
  box-shadow: 0 0 15px black, 0 0 35px black;
}
.side-bar:hover {
  left: 0px;
  transition: .7s;
  box-shadow: 0 0 15px black, 0 0 35px black;
}

.side-bar ul {
  margin: 20px 20px 0px 0px;
  list-style: none;
}

.side-bar ul li {
  margin-bottom: 5px;
  padding: 12px;
  border-bottom: 1px solid #0f0f0f;
  transition: .5s;
  cursor: pointer;
}

.side-bar ul li:hover {
  background-color: #515151;
  transition: .7s;
  box-shadow: 0 -5px 18px rgba(0, 0, 0, .5);
}

.side-bar ul li a {
  text-decoration: none;
  color: #a0a0a0;
}


/* Cover the Body */
.cover {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .55);
  z-index: 9000;
  position:fixed;
  top:0;
  left:0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}

.cover.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}


@media screen and (max-width: 992px) {
  /* Make the Side Bar completely invisible */
  .side-bar {
    left: -200px;
  }
  /* Reveal the Side Bar */
  .side-bar.active {
    left: 0px;
    transition: all 700ms;
  }

  /* Side Bar Icon */
  .side-bar-toggle-button {
    z-index: 9999;
    position: fixed;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    transition-property: none;
    transition: all 700ms;
  }

  /* Push toggle button to the right */
  .side-bar-toggle-button.active {
    margin-left: 210px;
    transition: all 700ms;
  }
  /* Side Bar Icon components */
  .side-bar-toggle-button-bar {
    width: 100%;
    height: 5px;
    margin: 6px 0px;
    background-color: #000;
  }

  .youtube-video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  	position: relative;
  	padding-bottom: 56.25%;
  	padding-top: 30px;
  	height: 0;
  	overflow: hidden;
  }

  .youtube-video iframe,
  .youtube-video object,
  .youtube-video embed {
  	position: absolute;
  	top: 0;
  	width: 90%;
  	height: 90%;
  }

}

.load {
  animation: slide 2s;
}

.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 85%;
  animation: slide 20s infinite;
  box-shadow: 0 0 25px black, 0 0 35px black;
  margin-bottom: 70px;
  overflow: hidden;
}

.slider-title:after {
  z-index: 50;
  content: "";
  background-image: url("images/grain.png");
  height: 300%;
  width: 300%;
  opacity: 0.3;
  position: relative;
  animation: grain 8s steps(10) infinite;
}
@keyframes grain {
  0%, 100% { transform:translate(-20%, 0%) }
  10% { transform:translate(-30%, 0%) }
  20% { transform:translate(-20%, 0%) }
  30% { transform:translate(-30%, 0%) }
  40% { transform:translate(-20%, 0%) }
  50% { transform:translate(-30%, 0%) }
  60% { transform:translate(-20%, 0%) }
  70% { transform:translate(-30%, 0%) }
  80% { transform:translate(-20%, 0%) }
  90% { transform:translate(-30%, 0%) }
}

.slider-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slider-title p {
  position: absolute;
  z-index: 100;
  font-weight: 100;
  word-wrap: nowrap;
  font-size: 100px;
  max-width: 100%;
  color: rgba(255, 255, 255, .9);
  border: 6px solid rgba(255, 255, 255, .7);
  padding: 15px 85px;
  text-shadow: 14px 14px 0px rgba(255, 255, 255, .8);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transition: .7s;
  cursor: default;
}

.slider-title p::selection {
  color: none;
  background: none;
}


@media screen and (max-width: 490px) {
  .slider-title p {
    z-index: 200;
    border: none;
    padding: 0;
    background-color: inherit;
    box-shadow: none;
    transition-property: border, padding, background-color, box-shadow, text-shadow;
    transition-duration: all .7s;
    font-size: 20vw;
    text-shadow: 0 0 30px rgba(0, 0, 0, .5);
  }
  .lorem {
    width: 90%!important;
  }
}


@keyframes slide {

  0%{
    background-image: url('images/bg1.jpg');
  }
  15%{
    background-image: url('images/bg1.jpg');
  }


  20.01%{
    background-image: url('images/bg2.jpg');
  }
  35%{
    background-image: url('images/bg2.jpg');
  }


  40.01%{
    background-image: url('images/bg3.jpg');
  }
  55%{
    background-image: url('images/bg3.jpg');
  }


  60.01%{
    background-image: url('images/bg4.jpg');
  }
  75%{
    background-image: url('images/bg4.jpg');
  }

  80.01%{
    background-image: url('images/bg5.jpg');
  }
  95%{
    background-image: url('images/bg5.jpg');
  }

  100%{
    background-image: url('images/bg1.jpg');
  }


}


.footer-content {
  border-top: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 0 0 20px rgba(0, 0, 0, .65);
  z-index: 9000;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  background: #161616;
  background: -webkit-linear-gradient(to left, #3a3a3a, #161616);
  background: linear-gradient(to left, #3a3a3a, #161616);
  text-align: center;
  color: #a0a0a0;
}

.footer-copyright {
  margin-top: 17px;
}



.lorem {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-bottom: 70px;
}

.lorem p::selection {
  color: #d30000;
  background: none;
}

.gallery {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 35px 0;
  background-color: #bfbfbf;
  margin: .5vw auto;
  margin-bottom: 50px;
}

.gallery h1 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}

.image-gallery {

  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image-gallery-container {
  cursor: pointer;
  max-width: 100%;
  width: 384px;
  height: 216px;
  margin: .7vw;
  border: 4px solid #000;
  background-color: #050505;
}

.image-gallery-container img {
  max-width: 100%;
  width: 384px;
  height: 216px;
  object-fit: contain;
  opacity: 0.70;
  transition: .7s;
}

.image-gallery-container img:hover {
  opacity: 1;
  transition: .7s;
}

.youtube-video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.youtube-video iframe,
.youtube-video object,
.youtube-video embed {
  box-shadow: 0 0 25px #000;
}

.location-section {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 35px 0;
  background-color: #bfbfbf;
  /* margin: .5vw auto; */
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.map {
  width: 50%;
}

.map iframe {
  width: 80%;
  height: 380px;
}

.meteo {
  width: 50%;
}

.meteo h1 {
  font-weight: 300;
  margin-bottom: 15px;
}

.meteo p {
  line-height: 190%;
}



.footer-height {
  margin: 70px;
}
